body {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.header>.inner {
    width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    height: 100%;
}

.header .menu-item {
    margin-left: 25px;
    color: #999;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.header .menu-item:hover {
    color: #000;
}

.main {
    width: 100%;
    height: 450px;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.overlay>.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.footer-img {
    height: 100%;
}