<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        HTML 기본구조
    </title>
</head>

<body>

    안녕하세요
    <div
        style="width:300px; height: 200px; background: yellow;margin-top: 50px;margin-left:30px;padding-left:20px;box-sizing: border-box;">
        <div style="width:50px;height:50px;background: red;"></div>
        <div style="width:80px;height:80px;background: blue;"></div>
    </div>


    <div style="width:300px;height:120px;border:1px solid black;margin-top:20px;">
        <div style="background: blue; color:white;">div 1</div>
        <div style="background: blue; color:white">div 2</div>

        <span style="background: red;color:white;display: block;">span 1</span>
        <span style="background: red;color:white;display: block;">span 2</span>
    </div>


    <header></header>
    <main></main>
    <footer></footer>
    <aside></aside>
    <nav></nav>
    <section></section>
    <article></article>

    <img style="width:320px;height:320px;object-fit:cover;border-radius:160px;"
        src="https://cdn.news.unn.net/news/photo/202406/564457_376373_1516.jpg" />

    <input type="text" placeholder="이름을 입력해주세요" />
    <input type="password" placeholder="비밀번호를 입력해주세요" />
    <input type="number" placeholder="나이를 입력해주세요" />
    <input type="date" placeholder="날짜를 입력해주세요" />
    <input type="file" />

    <input type="checkbox" />
    <span>남자</span>

    <input type="checkbox" />
    <span>여자</span>

    <input type="radio" name="gender" />
    <span>남자</span>
    <input type="radio" name="gender" />
    <span>여자</span>

    <select>
        <option value="man">남자</option>
        <option value="woman">여자</option>
    </select>

    <br />

    <textarea style="width:300px;height:100px;resize:none;" placeholder="내용을 입력해주세요"></textarea>


    <button>저장</button>
    <a href="https://www.naver.com">네이버</a>



</body>

</html>